.cityticker {
    width: 100%;
    height: 72px;
    flex-shrink: 0;
    background-color: var(--primaryColour);
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--textColour1);
    font-size: var(--fontSizeTwo);
    overflow: hidden;
    z-index: 10;
    box-sizing: border-box;
    border: var(--border-distinct);
    border-radius: var(--cornerRadius);
    margin: 0 auto 0.5% auto;
    backdrop-filter: blur(20px) saturate(350%);
}

.cityticker-body {
    position: relative;
    height: 100%;
    flex: 1;
    overflow: hidden;
    clip-path: inset(-60px 0 -60px 0);
}

.cityticker-track {
    position: relative;
    left: 0;
    display: flex;
    align-items: center;
    height: 100%;
    flex-wrap: nowrap;
    white-space: nowrap;
}

.cityticker-header {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 20px;
    background-color:#0c0c0cc2;
    backdrop-filter: blur(10px) saturate(150%);
    border-radius: var(--cornerRadius);
    border: var(--border-subtle);
    color: var(--thirdColourTransparent);
    font-weight: bold;
    white-space: nowrap;
    position: relative;
    z-index: 2;
    box-shadow: 4px 0 10px rgba(0, 0, 0, 0.5);
}

.cityticker-entries {
    display: flex;
    align-items: center;
    height: 100%;
    flex-shrink: 0;
    padding: 0 24px 0 30px;
    margin: 0px 30px 0px 120px;
}

.cityticker-entry {
    flex-shrink: 0;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    margin-right: 120px;
    gap: 15px;
    height: 100%;
}

.cityticker-entry-city {
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 6px;
}

.cityticker-alert-badge {
    font-size: 1.6em;
    line-height: 1;
    flex-shrink: 0;
    text-shadow: 2 4 4px #ffffff39;
}

.cityticker-entry-temp {
    color: var(--textColourTempHigh);
    font-weight: bold;
}

.cityticker-entry-condition {
    color: var(--textColour1);
}

.cityticker-entry-icon {
    width: auto;
    height: 100%;
    aspect-ratio: 1 / 1;
    object-fit: contain;
}

.cityticker-entry-daylabel {
    font-size: var(--fontSizeOne);
    color: var(--thirdColourTransparent);
    white-space: nowrap;
}

.cityticker-entry-forecast-temps {
    display: flex;
    align-items: center;
    gap: 4px;
}

.cityticker-entry-temp-low {
    color: var(--textColourTempLow);
    font-weight: bold;
}

.cityticker-message-body {
    padding: 0 20px;
    white-space: nowrap;
    color: var(--textColour1);
    font-size: var(--fontSizeTwo);
    font-weight: 400;
    letter-spacing: 0.3px;
}

.cityticker-header--message {
    background-color: var(--mainColourTransparent);
    color: var(--thirdColourTransparent);
    border: var(--border-subtle);
}

.cityticker-entries--message {
    margin-left: 20px;
    padding: 0;
    gap: 16px;
}

.cityticker-message-icon {
    width: auto;
    height: 100%;
    aspect-ratio: 1 / 1;
    object-fit: contain;
    flex-shrink: 0;
}

