.i2-sidebar-buffer {
  display: none;
  flex-shrink: 0;
  align-self: stretch;
  width: 19%;

  border-radius: var(--cornerRadius);
  backdrop-filter: blur(70px) saturate(350%) brightness(60%);
  background-image: var(--mainGradient);

  border: 4px solid var(--thirdColourTransparent);
  box-sizing: border-box;
}
